<!DOCTYPE html>
<html>
<head>
	<title>Moon</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='/public/stylesheets/utils.css' />
	<link rel='stylesheet' href='/public/stylesheets/style.css' />
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/jquery.mask.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/public/javascripts/main.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<input type="hidden" value="<%= usuario.id %>" name="id_usuario_sessao">
	<input type="hidden" value="<%= usuario.hash_login %>" name="hash_usuario_sessao">
	<input type="hidden" value="<%= usuario.nivel %>" name="nivel_usuario_sessao">
	<div class="error_ajax none">Você parece ter se disconectado, tentando reconectar...</div>
	<!-- Modal Structure -->
	<div id="modaldeletar" class="modal" style="overflow: hidden;">
		<div class="modal-content">
			<b><p style="text-align: center;" id="texto">Remover</p></b>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col s12 m6">
					<a style="width: 100%; text-align: center;" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey lighten-2">Cancelar</a>
				</div>
				<div class="col s12 m6">
					<form method="POST" action="">
						<input id="id" type="hidden" name="id">
						<input type="hidden" name="deletado" value="1">
						<button style="width: 100%; text-align: center;" class="modal-action modal-close waves-effect waves-green btn-flat red lighten-2 white-text ajax-submit"
						data-href=""
						data-action=""
						>Excluir</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modalinfo" class="modal">
		<div class="modal-content">
		</div>
	</div>
	<div class="loader none">
		<i class="fas fa-spinner fa-pulse fa-5x fa-fw"></i>
		<!-- <span class="sr-only">Loading...</span> -->
	</div>
	<header class="white-text">
		<div class="header-info text-center">
			Olá <span class="primary-text"><%= usuario.nome %></span>.
			<br>
			Seu último acesso foi em 00/00 às 00h00.

			<br>
			<span class="primary-text uppercase">
				Seu aporte inicial foi de <span class="white-text">R$10.000,00</span>
			</span>
			<br>
			<span class="green-text uppercase">
				Saldo Atualizado R$10.960,00
			</span>
		</div>

		<div class="primary_line w90 margin-center"></div>

		<div class="w90 header-plano uppercase white-text margin-t-10 margin-b-10">
			<div class="row">
				<div class="col text-center border-2-right-primary padding-b-10">
					<span class="primary-text">Plano Atual</span>
					<br>
					12 MESES
					<br>
					60% da Performance
				</div>
				<div class="col text-center padding-b-10">
					<span class="primary-text">06 MESES</span>
					<br>
					Decorridos do seu plano
				</div>
			</div>
			

			
		</div>

		<nav class="w100">
			<%- include('menu_header'); %>
		</nav>
	</header>

