<ul class="nav primary white-text justify-content-center">
	<li class="nav-item uppercase"> 
		<a class="ajax-load nav-link <%= data.numero_menu == 0 ? 'active' : ''%>">
			Gráfico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link <%= data.numero_menu == 1 ? 'active' : ''%>" href="/sistema/historico">
			Histórico
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link <%= data.numero_menu == 2 ? 'active' : ''%>" href="/sistema/carteira">
			Carteira
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link <%= data.numero_menu == 3 ? 'active' : ''%>" href="/sistema/meus_dados">
			Meus Dados
		</a>
	</li>
	<li class="nav-item uppercase">
		<a class="ajax-load nav-link <%= data.numero_menu == 4 ? 'active' : ''%>" href="/sistema/administracao">
			Administração
		</a>
	</li>


</ul>