<%- include('../../includes/menu_header'); %>
<div>
	<%- include('../submenu'); %>
</div>


<div class="w100 text-center">
	<div class="bold f25 text-center white-text">
		Administração dos Planos dos Usuarios
	</div>
	
	
	<%if(usuario.nivel == 1){ %>


	<div class="col s12">

		<table class="tabela_filtrada text-center white-text margin-center">
			<thead class="primary-text">
				<tr>
					<th>Usuário</th>
					<th>Plano</th>
					<th>Data Início</th>
					<th>Data Término</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.planos_usuarios != 'undefined' && data.planos_usuarios.length > 0) {
					for (var i = data.planos_usuarios.length - 1; i >= 0; i--) { %>
					<tr class="border-bottom-primary">
						<td>
							<a class="white-text">
								<%= data.planos_usuarios[i].nome %> 
							</a>
						</td>
						<td>
							<a class="white-text">
								<%= data.planos_usuarios[i].plano %> 
							</a>
						</td>
						<td>
							<a class="white-text">
								<%= data.planos_usuarios[i].data_inicio %>
							</a>
						</td>
						<td>
							<a class="white-text">
								<%= data.planos_usuarios[i].data_fim %>
							</a>
						</td>

					</tr>

					<%}
				}else{%>
				<tr>
					<td colspan="6" class="center">Não há planos de usuários no momento</td>
				</tr>
				<%}%>
			</tbody>

		</table>
	</div>





	<%}else{%>
	<div class="white-text text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
	<%}%>

</div>