<div class="col s12 center">
	<div class="w90 center-align gold margin-center padding-5 border-radius-5 f20">Adicionar Caixa</div>


	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>


	<form method="POST" action="" enctype="multipart/form-data">


		<div class="input-field col s12 margin-t-20">
			<span class="gold-text">Tipo</span>	
			<select name="tipo" class="browser-default border-gold border-radius-5 white-text tipo_caixa_select">
				<option value="0">Aporte</option>
				<option value="1">Saque</option>
				<option value="2" selected>Rendimento</option>
				<option value="3">Saque rendimento</option>
			</select>

		</div>

		<div class="input-field col s12">
			<span class="gold-text">Plano</span>	
			<select name="id_plano" class="browser-default border-gold border-radius-5 white-text">
				<%
				if (typeof data.plano != 'undefined' && data.plano.length > 0) {
					for (var i = 0; i < data.plano.length; i++) { %>
					<option value=" <%= data.plano[i].id %>"> <%= data.plano[i].nome %></option>				
					<% }
				} %>
			</select>
		</div>

		<div class="input-field col s12">
			<span class="gold-text">Usuário</span>
			<select name="id_usuario" class="browser-default border-gold border-radius-5 white-text">
				<%
				if (typeof data.usuario != 'undefined' && data.usuario.length > 0) {
					for (var i = 0; i < data.usuario.length; i++) { %>
					<option value="<%= data.usuario[i].id %>"> <%= data.usuario[i].nome %></option>				
					<% }
				} %>
			</select>						
		</div>


		<div class="container_cadastro_caixa">
			<div class="input-field col s12">
				<label class="gold-text" for="qtd_stable">Quantidade de Stable</label>
				<input class="validate border-gold border-radius-5 white-text" type="number" name="qtd_stable">
			</div>
		</div>






		<button data-href="/sistema/administracao/caixa/cadastrar" data-action="<%= data.link_sistema%>/administracao/caixa/" class="btn gold ajax-submit margin-t-10 margin-b-10">
			Salvar <i class="far fa-save-o" aria-hidden="true"></i>
		</button>


	</form>





	<%}else{%>
	<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
	<%}%>

</div>