<div>
	<%- include('../submenu'); %>
</div>


<div class="w100 text-center">
	<div class="bold f25 text-center white-text">
		Administração da Caixa
	</div>
	
	
	<%if(usuario.nivel == 1){ %>


	<div class="text-center margin-b-10 margin-t-10">
		<a class="btn primary ajax-load white-text mx-auto" href="<%= data.link_sistema%>/administracao/caixa/criar">Cadastrar Caixa</a>
	</div>


	<div class="col s12">

		<table class="tabela_filtrada text-center white-text margin-center">
			<thead class="primary-text">
				<tr>
					<th>Valor em Reais</th>
					<th>Usuário</th>
					<th>Tipo</th>
					<th>Plano</th>
					<th>Data Cadastro</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.caixa != 'undefined' && data.caixa.length > 0) {
					for (var i = data.caixa.length - 1; i >= 0; i--) { %>
					<tr class="border-bottom-primary">
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/caixa/editar/<%= data.caixa[i].id %>">
								<%= data.caixa[i].valor_real %> 
							</a>
						</td>
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/caixa/editar/<%= data.caixa[i].id %>">
								<%= data.caixa[i].nome_usuario %> 
							</a>
						</td>
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/caixa/editar/<%= data.caixa[i].id %>">
								<%= data.caixa[i].tipo %>
							</a>
						</td>
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/caixa/editar/<%= data.caixa[i].id %>">
								<%= data.caixa[i].plano %>
							</a>
						</td>

						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/caixa/editar/<%= data.caixa[i].id %>">
								<span class="d-none"><%= data.caixa[i].data_table_filtro %></span>
								<%= data.caixa[i].data_cadastro %>
							</a>
						</td>
						<td class="text-center">
							<% if(usuario.nivel == 1){ %>

							<div class="btn primary modal-remover-mount pointer" data-modal="#modaldeletar" data-id="<%= data.caixa[i].id %>" data-texto="Você tem certeza que quer deletar o R$<%= data.caixa[i].valor_real %>? " data-to="/sistema/administracao/caixa/desativar" data-back="<%= data.link_sistema%>/administracao/caixa" data-mensagem-sucesso="Valor Deletado com Sucesso!" data-toggle="tooltip" data-placement="top" title="Deletar Valor">
								<i class="fas fa-times white-text"></i>
							</div>

							<% } %>
						</td>

					</tr>

					<%}
				}else{%>
				<tr>
					<td colspan="6" class="center">Não há caixa no momento</td>
				</tr>
				<%}%>
			</tbody>

		</table>
	</div>





	<%}else{%>
	<div class="white-text text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
	<%}%>

</div>