<div>
	<%- include('../submenu'); %>
</div>


<div class="w100 text-center">
	<div class="bold f25 text-center white-text">
		Administração de Planos
	</div>
	
	
	<%if(usuario.nivel == 1){ %>


	<div class="text-center margin-b-10 margin-t-10">
		<a class="btn primary ajax-load white-text mx-auto" href="<%= data.link_sistema%>/administracao/plano/criar">Cadastrar Plano</a>
	</div>


	<div class="col s12">

		<table class="tabela_filtrada text-center white-text margin-center">
			<thead class="primary-text">
				<tr>
					<th>Nome do Plano</th>
					<th>Performance</th>
					<th>Data Cadastro</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.planos != 'undefined' && data.planos.length > 0) {
					for (var i = data.planos.length - 1; i >= 0; i--) { %>
					<tr class="border-bottom-primary">
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/plano/editar/<%= data.planos[i].id %>">
								<%= data.planos[i].nome %> 
							</a>
						</td>

						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/plano/editar/<%= data.planos[i].id %>">
								<%= data.planos[i].performance %>%
							</a>
						</td>

						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/plano/editar/<%= data.planos[i].id %>">
								<span class="d-none"><%= data.planos[i].data_table_filtro %></span>
								<%= data.planos[i].data_cadastro %> 
							</a>
						</td>


						<td style="width: 30%;" class="center">
							<% if(usuario.nivel == 1){ %>

							<div class="btn primary modal-remover-mount pointer" data-modal="#modaldeletar" data-id="<%= data.planos[i].id %>" data-texto="Você tem certeza que quer deletar '<%= data.planos[i].nome %>'? " data-to="/sistema/administracao/plano/desativar" data-back="<%= data.link_sistema%>/administracao/planos"data-mensagem-sucesso="Plano Deletado com Sucesso!" data-toggle="tooltip" data-placement="top" title="Deletar Plano">
								<i class="fas fa-times white-text"></i>
							</div>

							<% } %>
						</td>

					</tr>

					<%}
				}else{%>
				<tr>
					<td colspan="3" class="center">Não há planos no momento</td>
				</tr>
				<%}%>
			</tbody>

		</table>
	</div>


	<%}else{%>
	<div class="white-text text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
	<%}%>

</div>








