	<ul class="nav justify-content-center sub_menu">

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/upload-csv">
				Upload de Csv
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/usuarios">
				Usuários
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/pedidos-saques">
				Aprovação de Saques
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/pedidos-aportes">
				Aprovação de Aportes
			</a>
		</li>
		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/caixa">
				Cadastro de Caixa
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/planos">
				Cadastro de Planos
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/planos_usuarios">
				Planos dos Usuarios
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/rendimentos_mes">
				Rendimentos do Mês
			</a>
		</li>

		<li class="nav-item uppercase">
			<a class="ajax-load nav-link" href="<%= data.link_sistema%>/administracao/reaporte_mes">
				Reaporte do Mês
			</a>
		</li>


	</ul>