<%- include('../../includes/menu_header'); %>
<div>
	<%- include('../submenu'); %>
</div>


<div class="w100 text-center">
	<div class="bold f25 text-center white-text">
		Administração de Aprovação de Saque
	</div>
	
	
	<%if(usuario.nivel == 1){ %>

	<div class="col s12">

		<table class="tabela_filtrada text-center white-text margin-center">
			<thead class="primary-text">
				<tr>
					<th>Nome</th>
					<th>Plano</th>
					<th>Valor em Reais</th>
					<th>Data Cadastro</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.pedido_saque != 'undefined' && data.pedido_saque.length > 0) {
					for (var i = data.pedido_saque.length - 1; i >= 0; i--) { %>
					<tr class="border-bottom-primary">
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<%= data.pedido_saque[i].nome %> 
							</a>
						</td>
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<%= data.pedido_saque[i].plano %> 
							</a>
						</td>
						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								R$<%= data.pedido_saque[i].valor_real %>
							</a>
						</td>

						<td>
							<a class="ajax-load white-text" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<span class="d-none"><%= data.pedido_saque[i].data_table_filtro %></span>
								<%= data.pedido_saque[i].data_cadastro %>
							</a>
						</td>



					</tr>

					<%}
				}else{%>
				<tr>
					<td colspan="4" class="text-center">Não há Pedidos de Saque no momento.</td>
				</tr>
				<%}%>
			</tbody>

		</table>
	</div>





	<%}else{%>
	<div class="white-text text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
	<%}%>

</div>














