<div class="col s12 center padding-0">
	<div class="bold f25 margin-l-20 border-bottom-gold margin-b-10">
		Administração de Aprovação de Saque
		<i class="fas fa-arrow-alt-circle-down right margin-r-20 gold-text"></i>
	</div>
	
	
	<%if(usuario.nivel == 4 || usuario.nivel == 5){ %>


	<div class="col s12">

		<table class="table-full-width tabela_filtrada">
			<thead class="gold-text">
				<tr>
					<th>Nome</th>
					<th>Perfil</th>
					<th>Qtd. Tether</th>
					<th>Data Cadastro</th>
				</tr>
			</thead>
			<tbody>

				<%
				if (typeof data.pedido_saque != 'undefined' && data.pedido_saque.length > 0) {
					for (var i = 0; i < data.pedido_saque.length; i++) { %>

					<tr class="border-bottom-gold">
						<td>
							<a class="white-text ajax-load break-all" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<%= data.pedido_saque[i].nome %>
							</a> 
						</td>
						<td>
							<a class="white-text ajax-load break-all" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<%= data.pedido_saque[i].plano %> 
							</a>
						</td>
						<td>
							<a class="white-text ajax-load" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<%= data.pedido_saque[i].qtd_stable %>
							</a>
						</td>
						<td>
							<a class="white-text ajax-load" href="<%= data.link_sistema%>/administracao/pedido-saque/editar/<%= data.pedido_saque[i].id %>">
								<span class="hide"><%= data.pedido_saque[i].data_table_filtro %></span>
								<%= data.pedido_saque[i].data_cadastro %>
							</a>
						</td>
					</tr>

					<%} 
				}else{%>
				<tr>
					<td colspan="5" class="center">Não há Aprovações de saque no momento</td>
				</tr>
				<%}%>
			</tbody>

		</table>
	</div>





	<%}else{%>
	<div class="card light">Você não possui permissão para acessar esse conteúdo</div>
	<%}%>

</div>