<%- include('../../includes/menu_header'); %>
<div>
	<%- include('../submenu'); %>
</div>

<%if(usuario.nivel == 1){ %>
<div class="container-fluid">
	<div class="w100 text-center">
		<div class="bold f25 text-center white-text margin-b-10">Adicionar Rendimento</div>

		

		<div class="white-text margin-b-10">Não calcule a Performance, a performance já é calculada pelo sistema!É possível ver a Performance com a % pelo plano abaixo!</div>

		<form method="POST" action="" enctype="multipart/form-data">

			<div class="row">
				<div class="form-group col-md-12">
					<div class="row">
						<label class="white-text col-sm-2" for="id_plano">Plano</label>
						<div class="col-sm-10">
							<select name="id_plano" class="form-control">
								<%
								if (typeof data.plano != 'undefined' && data.plano.length > 0) {
									for (var i = 0; i < data.plano.length; i++) { %>
									<option value=" <%= data.plano[i].id %>"><%= data.plano[i].nome_com_performance %></option>				
									<% }
								} %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="form-group col-md-12">
					<div class="row">
						<label class="white-text col-sm-2" for="mes">Porcentagem</label>
						<div class="col-sm-10">
							<input required="true" class="validate form-control" type="number" name="porcentagem">
						</div>
					</div>
				</div>
			</div>


			<div class="row">

				<div class="form-group col-md-12">
					<div class="row">
						<label class="white-text col-sm-2" for="mes">Mês</label>
						<div class="col-sm-10">
							<input required="true" class="validate form-control datepicker data-sem-hora" type="text" name="mes">
						</div>
					</div>
				</div>
			</div>


			<button data-href="/sistema/administracao/rendimento_mes/cadastrar" data-action="<%= data.link_sistema%>/administracao/rendimento_mes/" class="btn primary ajax-submit margin-b-10" data-mensagem-sucesso="Rendimento do Mês Cadastrado com Sucesso!" >
				Salvar <i class="far fa-save-o" aria-hidden="true"></i>
			</button>

		</form>
	</div>

</div>

<%}else{%>
<div class="white-text text-center f25">Você não possui permissão para acessar esse conteúdo!</div>
<%}%>