
<div class="modal-header primary white-text">
	<h5 class="modal-title uppercase">Confirmar Rendimento</h5>
	<button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body text-center">
	<p>
		Você tem certeza que quer colocar uma porcentagem de <%= data.rendimento.porcentagem%>% para o mês de <%= data.mes_rendimento[0].nome_mes%> de <%= data.mes_rendimento[0].ano%> com uma Performance de <%= data.plano[0].performance %>%?No qual esses <%= data.rendimento.porcentagem%>% viram <%= data.rendimento_correto %>%?
	</p>
	

	<p>
		<span class="f20">Saiba que essa alteração não pode ser desfeita e <b>TODOS</b> os usuários que possuam este plano serão afetados pelo rendimento.</span>
	</p>


</div>
<div class="modal-footer">
	<div class="row">
		<div class="col col-sm-6">
			<button type="button" class="btn grey white-text" data-dismiss="modal">Cancelar</button>
		</div>
		<div class="col col-sm-6">
			<form method="POST" action="">
				<input type="hidden" name="id_plano" value="<%= data.plano[0].id%>">
				<input type="hidden" name="mes" value="<%= data.rendimento.mes%>">
				<input type="hidden" name="porcentagem" value="<%= data.rendimento_correto %>">

				<button data-href="/sistema/administracao/rendimento/cadastrar" data-action="<%= data.link_sistema%>/administracao/rendimentos_mes/" class="btn primary ajax-submit margin-b-10" data-mensagem-sucesso="Rendimento Cadastrado com Sucesso!" data-dismiss="modal">
					Sim, tenho certeza!
				</button>
			</form>
		</div>
	</div>
</div>